html {
    height: 0;
    background-color: #060a06;
}

body {
    background-color: #242424b6;
    background-image: url("images/leaves.jpg");
    background-position: top;
    background-blend-mode: soft-light;
    background-size: auto 100vh;
    height: 100vh;
    margin: 0 0;
}

button {
    display: block;
    color: #a7b7b9;
    font-family: futura;
    font-size: 25px;
    font-style: italic;
    background-color: #242424b6;
    background: radial-gradient(circle, #0f160b 0%, rgb(3 14 0) 100%);    
    background-blend-mode: soft-light;
    border: none;
    height: 200px;
    width: 200px;
    border-radius: 500px;
    /* CENTER IN VIEWPORT */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


p {
    text-align: center;
    color: #a7b7b9;
    position: absolute;
    padding: 10px 10px;
    top: 78%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: futura;
    font-style: italic;
}